[Unit]
Description=Note Pass App
After=network-online.target docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm --name note-pass -p 3000:3000 note-pass
ExecStop=/usr/bin/docker stop note-pass

[Install]
WantedBy=multi-user.target
